@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
